<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        mainApplicationId is provided by AndroidPluginAppConventionPlugin.
        It follows the Neryven main app applicationId for release/debug variants.
    -->
    <queries>
        <package android:name="${mainApplicationId}" />
    </queries>

    <!-- permission required to request self-uninstall -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application>
        <!-- prevent res/xml/plugin.xml from being removed by AGP resource optimization -->
        <meta-data
            android:name="${mainApplicationId}.plugin.METADATA"
            android:resource="@xml/plugin" />
        <!-- prevent res/raw/aboutlibraries.json from being removed -->
        <meta-data
            android:name="${mainApplicationId}.plugin.ABOUT_LIBRARIES"
            android:resource="@raw/aboutlibraries" />
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:theme="@style/DeviceSettingsTheme">
            <intent-filter>
                <action android:name="${mainApplicationId}.plugin.MANIFEST" />
            </intent-filter>
        </activity>
    </application>
</manifest>
